---
// Logo component
---

<div class="flex items-center space-x-3">
  <a href="/" class="flex items-center space-x-3 hover:opacity-80 transition-opacity">
    <img src="/images/logo_circ.png" alt="Atletico CerCast Logo" class="w-16 h-16 object-contain" />
    <span class="font-bold text-2xl text-white">Atletico CerCast</span>
  </a>
</div> 