---
import '../styles/global.css';
import NavBar from '@/components/NavBar.astro';
import Footer from '@/components/Footer.astro';
import { Toaster } from '@/components/ui/sonner';
import RandomToast from '@/components/RandomToast';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html lang="it" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/images/logo_circ.png" />
		<link rel="apple-touch-icon" href="/images/logo_circ.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Atletico CerCast - {title}</title>
		<meta name="description" content="Squadra di calcetto nata per unire i paesi" />
	</head>
	<body class="bg-background text-foreground min-h-screen">
		<NavBar />
		<main>
			<slot />
		</main>
		<Toaster client:load />
		<RandomToast client:load />
		<Footer />
	</body>
</html>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
